<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SchooxSharp.AcademyId" value="386"/>
    <add key="SchooxSharp.ApiKey" value="schoox"/>
    <add key="SchooxSharp.BaseUrl" value="https://www.schoox.com/api/v1"/>
    <add key="SchooxSharp.AllUsersRequestLimit" value="1000"/>
  </appSettings>
</configuration>